{% extends 'admin/master.html' %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block head_tail %}
    {{ super() }}

    <script src="../../static/js/d3/d3.min.js"></script>
    <script src="../../static/js/d3/d3-tip.js"></script>
    <script src="../../static/js/select.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="../../static/js/selectize.min.js"></script>
    <script src="../../static/js/selectize_custom.js"></script>

    <link href="{{ url_for('static', filename='css/selectize.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/tracks.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/genome_detail.css') }}" rel="stylesheet">
    {{ JSGlue.include() }}


{% endblock %}
{% block body %}

    <div class="container">

    Tag genomes as 'Simple'. 'Simple' means that they only contain at maximum one of each reference Profile.

        <br>
        <br>

        <form method="POST" enctype="multipart/form-data">
            {{ tag_simple_form.hidden_tag() }}

            <div class="smallform">


                {{ tag_simple_form.include_genome.label }}

                {{ tag_simple_form.include_genome() }}

                <br>
                <br>


                {{ tag_simple_form.exclude_hits.label }}

                {{ tag_simple_form.exclude_hits() }}

                <br>

                <br>


                {{ tag_simple_form.tag_simple(class="btn-primary") }}
            </div>
            <br>


        </form>

    <div>

                <form method="POST" enctype="multipart/form-data">
            {{ update_tags_form.hidden_tag() }}

            <div class="smallform">

                {{ update_tags_form.old_tag.label }}

                {{ update_tags_form.old_tag }}

                <br>


                {{ update_tags_form.new_tag.label }}

                {{ update_tags_form.new_tag }}

                <br>

                {{ update_tags_form.update_tags(class="btn-primary") }}


            </div>
        </form>

    </div>

    </div>



{% endblock %}