{% extends 'admin/master.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head_tail %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    {{ JSGlue.include() }}


{% endblock %}
{% block body %}

    <div class="container">


        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="smallform">


                <br>

                <h5>Warning: The following button will delete all hits from genomes as well as the information within
                    the AssociatedRegions dictionary.
                    .</h5>
                <br>
                This action cannot be undone.
                <br>
                <br>
                Depending on the size of your database this action could take several minutes
                <br>

                <br>
                {{ form.delete_all_hits() }}

                <br>
                <br>
                <br>

                <h5>Warning: The following button will delete all tags from genomes, all tags added to regions within
                    any
                genome,
                    and all the information within the GenomeTags dictionary.</h5>
                <br>
                This action cannot be undone.
                <br>
                <br>
                Depending on the size of your database these actions could take several minutes
                <br>
                <br>

                {{ form.delete_all_tags() }}

                <br>

                <br>


            </div>
            <br>


        </form>

    </div>

    <script>

            $('#delete_all_hits').on('click', function (e) {
            e.preventDefault()

            console.log('clicked')

            $.ajax({
                url: Flask.url_for("delete_all_hits"),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                error: function (error) {
                    console.log(error);
                },
                success: function (response) {

                    window.location.reload();

                }
            });

        });
        $('#delete_all_tags').on('click', function (e) {
            e.preventDefault()

            console.log('clicked')

            $.ajax({
                url: Flask.url_for("delete_all_tags"),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                error: function (error) {
                    console.log(error);
                },
                success: function (response) {

                    window.location.reload();

                }
            });

        });



    </script>






{% endblock %}

