{% extends 'admin/master.html' %}

{% block head_tail %}
  {{ super() }}

    <script src="../../static/js/d3/d3.min.js"></script>
    <script src="../../static/js/d3/d3-tip.js"></script>
    <script src="../../static/js/select.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>


    <link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/tracks.css') }}" rel="stylesheet">
            {{ JSGlue.include() }}




{% endblock %}

        {% block body %}

<div>
         <form method="POST"    enctype="multipart/form-data">
            {{ select_form.hidden_tag() }}

            <div class="smallform">

                {{ select_form.genome.label }}

                {{ select_form.genome }}
                <br>
                {{ select_form.submit_diagram(class="btn-primary") }}
            </div>

             <br>

                          {{select_form.show_hits.label }}

             <br>

             {{select_form.show_hits}}


             <br>
         </form>

</div>
<script>


var tracks = {{ tracks | safe}} ;



</script>

<div id="hit_div">

                    Tag to add <input id="tag2add" type="text" value="">
    <br>
    <br>

    <button name="tagBtn" class="btn-primary" id="tag_hit" type="submit">Add tag</button>

    <button name="tagBtn" class="btn-primary" id="hide_hit" type="submit">Hide hit</button>


    <button name="tagBtn" class="btn-primary" id="delete_hit" type="submit">Delete hit</button>
    <br>
    <br>

        <button name="tagBtn" class="btn-primary" id="tag_genome" type="submit">Tag genome</button>

    <br>
    <br>




    List of hits to tag, hide, or delete:
    <div id="myList">
                </div>

</div>



<br>
<br>
<div id="scrollable>">
    <div id="circularchart"></div>
    <div id="demo-controls">
        <div class="control-item"><input type="checkbox" name="showStrand" onchange="updateStrand(this); return false" checked>Show stranded track</div>

    </div>
    <div id="linearchart"></div>
    <div id="brush"></div>

    <input type="button" id="resizeButton" onClick="resizeLinearPlot(); return false;" value="Resize plot">
            </div>
<!--<script type="text/javascript" src="../../static/js/data.simple.js"></script>-->
                <script type="text/javascript" src="../../static/js/circularplot.js"></script>
    <script type="text/javascript" src="../../static/js/linearplot.js"></script>
    <script type="text/javascript" src="../../static/js/linearbrush.js"></script>
    <script type="text/javascript" src="../../static/js/lineardemo.js"></script>

                <script type="text/javascript" src="../../static/js/circularsample.js"></script>

<script>


            $('#show_hits').val("{{hit_type | safe }}")

             $('#show_hits').on('change', function() {

                 var genome = "{{ genome |safe }}"

                 $.ajax({

                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "{{  url_for ('show_hits')}}",
                 data: JSON.stringify({
                 'genome' : genome, 'hits' : this.value
             }),
             contentType: 'application/json;charset=UTF-8',
             type: 'POST',
                traditional: "true",
                                         success: function (response) {

                        console.log('bamboozled')

                        window.location.reload();


                    }



            });
});





         $('#submit_hit').on('click', function (e) {
         e.preventDefault();
         console.log('clicked submit hit')

     });

                       $('#tag_genome').on('click', function (e) {
         e.preventDefault();

         var genome = "{{ genome |safe }}"
         tag2add = $("#tag2add").val();


         $.ajax({
             url: Flask.url_for("tag_genome"),
             data: JSON.stringify({
                 'genome' : genome, tag2add :
                 tag2add
             }),
             contentType: 'application/json;charset=UTF-8',
             type: 'POST',
             error: function(error) {
                 console.log(error);
             },
              success: function (response) {

                        console.log('bamboozled')

                        window.location.reload();


                    }
         });

     });

              $('#tag_hit').on('click', function (e) {
         e.preventDefault();
         console.log('clicked tag hit')

         var genome = "{{ genome |safe }}"
         tag2add = $("#tag2add").val();


         $.ajax({
             url: Flask.url_for("tag_hit"),
             data: JSON.stringify({
                 'genome' : genome, 'hits' : selected, tag2add :
                 tag2add
             }),
             contentType: 'application/json;charset=UTF-8',
             type: 'POST',
             error: function(error) {
                 console.log(error);
             },
              success: function (response) {

                        console.log('bamboozled')

                        window.location.reload();


                    }
         });

     });

     $('#delete_hit').on('click', function (e) {
         e.preventDefault();
         console.log('clicked delete hit')

         var genome = "{{ genome |safe }}"
         hits = "gabe"


         $.ajax({
             url: Flask.url_for("delete_hit"),
             data: JSON.stringify({
                 'genome' : genome, 'hits' : selected
             }),
             contentType: 'application/json;charset=UTF-8',
             type: 'POST',
             error: function(error) {
                 console.log(error);
             },
              success: function (response) {

                        console.log('bamboozled')

                        window.location.reload();


                    }
         });

     });
</script>

        {% endblock %}



