{% extends 'admin/master.html' %}

{% block head_tail %}
  {{ super() }}

    <script src="../../static/js/d3/d3.min.js"></script>
    <script src="../../static/js/d3/d3-tip.js"></script>
    <script src="../../static/js/select.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>


    <link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/tracks.css') }}" rel="stylesheet">
            {{ JSGlue.include() }}




{% endblock %}

        {% block body %}

<div>
         <form method="POST"    enctype="multipart/form-data">
            {{ select_form.hidden_tag() }}

            <div class="smallform">

                {{ select_form.genome.label }}

                {{ select_form.genome }}
                <br>
                {{ select_form.submit_diagram(class="btn-primary") }}
            </div>
         </form>

</div>
<script>


var tracks = [
	      { trackName: "track2",
		trackType: "stranded",
		visible: true,
		inner_radius: 130,
		outer_radius: 185,
		trackFeatures: "complex",
		featureThreshold: 1040807,
		mouseclick: 'islandPopup',
		mouseover_callback: 'islandPopup',
		mouseout_callback: 'islandPopupClear',
		linear_mouseclick: 'linearPopup',
		showLabels: true,
		showTooltip: true,
		linear_mouseclick: 'linearClick',
              items : {{items | safe}}
	      }
              ];



</script>

<div id="hit_div">

                    Tag to add <input id="tag2add" type="text" value="">
    <br>
    <br>

                    <button name="tagBtn" class="btn-primary" id="tag_hit" type="submit">Add tag</button>

    <button name="tagBtn" class="btn-primary" id="delete_hit" type="submit">Delete</button>
    <br>
    <br>



    List of hits to tag or delete:
    <div id="myList">
                </div>

</div>



<br>
<br>
<div id="scrollable>">
    <div id="circularchart"></div>
    <div id="demo-controls">
        <div class="control-item"><input type="checkbox" name="showStrand" onchange="updateStrand(this); return false" checked>Show stranded track</div>

    </div>
    <div id="linearchart"></div>
    <div id="brush"></div>

    <input type="button" id="resizeButton" onClick="resizeLinearPlot(); return false;" value="Resize plot">
            </div>
<!--<script type="text/javascript" src="../../static/js/data.simple.js"></script>-->
                <script type="text/javascript" src="../../static/js/circularplot.js"></script>
    <script type="text/javascript" src="../../static/js/linearplot.js"></script>
    <script type="text/javascript" src="../../static/js/linearbrush.js"></script>
    <script type="text/javascript" src="../../static/js/lineardemo.js"></script>

                <script type="text/javascript" src="../../static/js/circularsample.js"></script>

<script>
         $('#submit_hit').on('click', function (e) {
         e.preventDefault();
         console.log('clicked submit hit')

     });

     $('#delete_hit').on('click', function (e) {
         e.preventDefault();
         console.log('clicked delete hit')

         var genome = "{{ genome |safe }}"
         hits = "gabe"


         $.ajax({
             url: Flask.url_for("delete_tag"),
             data: JSON.stringify({
                 'genome' : genome, 'hits' : selected
             }),
             contentType: 'application/json;charset=UTF-8',
             type: 'POST',
             error: function(error) {
                 console.log(error);
             }
         });

     });
</script>

        {% endblock %}



