{% extends 'admin/master.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<div class = "container">

     <form method="POST"    enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="smallform">
                {{ form.username.label }}
                {{ form.username }}
                <br>

                {{ form.password.label }}
                {{ form.password }}
                <br>

                {{ form.submit(class="btn-primary") }}


            </div>
 </form>

</div>

{% endblock %}

